:root {
  /* primatives */
  --hue-red-50: oklch(98.83% 0.005 20);
  --hue-red-100: oklch(96.68% 0.02 20);
  --hue-red-200: oklch(92.19% 0.04 20);
  --hue-red-300: oklch(86.13% 0.08 20);
  --hue-red-400: oklch(80.08% 0.11 20);
  --hue-red-500: oklch(74.22% 0.15 20);
  --hue-red-600: oklch(62.7% 0.14 20);
  --hue-red-700: oklch(53.52% 0.12 20);
  --hue-red-800: oklch(41.99% 0.09 20);
  --hue-red-900: oklch(30.66% 0.07 20);
  --hue-red-950: oklch(19.34% 0.04 20);
  --hue-orange-50: oklch(98.83% 0.005 43.33);
  --hue-orange-100: oklch(96.68% 0.02 43.33);
  --hue-orange-200: oklch(92.19% 0.04 43.33);
  --hue-orange-300: oklch(85.94% 0.08 43.33);
  --hue-orange-400: oklch(79.88% 0.11 43.33);
  --hue-orange-500: oklch(73.83% 0.15 43.33);
  --hue-orange-600: oklch(62.3% 0.14 43.33);
  --hue-orange-700: oklch(53.13% 0.12 43.33);
  --hue-orange-800: oklch(41.8% 0.09 43.33);
  --hue-orange-900: oklch(30.47% 0.07 43.33);
  --hue-orange-950: oklch(19.14% 0.04 43.33);
  --hue-amber-50: oklch(98.83% 0.005 66.67);
  --hue-amber-100: oklch(96.68% 0.02 66.67);
  --hue-amber-200: oklch(91.99% 0.04 66.67);
  --hue-amber-300: oklch(85.74% 0.08 66.67);
  --hue-amber-400: oklch(79.49% 0.11 66.67);
  --hue-amber-500: oklch(73.24% 0.15 66.67);
  --hue-amber-600: oklch(61.91% 0.14 66.67);
  --hue-amber-700: oklch(52.73% 0.12 66.67);
  --hue-amber-800: oklch(41.41% 0.09 66.67);
  --hue-amber-900: oklch(30.27% 0.07 66.67);
  --hue-amber-950: oklch(19.14% 0.04 66.67);
  --hue-yellow-50: oklch(98.83% 0.005 90);
  --hue-yellow-100: oklch(96.48% 0.02 90);
  --hue-yellow-200: oklch(91.8% 0.04 90);
  --hue-yellow-300: oklch(85.35% 0.08 90);
  --hue-yellow-400: oklch(78.91% 0.11 90);
  --hue-yellow-500: oklch(72.66% 0.15 90);
  --hue-yellow-600: oklch(61.13% 0.14 90);
  --hue-yellow-700: oklch(52.34% 0.12 90);
  --hue-yellow-800: oklch(41.02% 0.09 90);
  --hue-yellow-900: oklch(30.08% 0.07 90);
  --hue-yellow-950: oklch(19.14% 0.04 90);
  --hue-lime-50: oklch(98.83% 0.005 106.67);
  --hue-lime-100: oklch(96.48% 0.02 106.67);
  --hue-lime-200: oklch(91.6% 0.04 106.67);
  --hue-lime-300: oklch(84.96% 0.08 106.67);
  --hue-lime-400: oklch(78.52% 0.11 106.67);
  --hue-lime-500: oklch(72.07% 0.15 106.67);
  --hue-lime-600: oklch(60.74% 0.14 106.67);
  --hue-lime-700: oklch(51.95% 0.12 106.67);
  --hue-lime-800: oklch(40.82% 0.09 106.67);
  --hue-lime-900: oklch(29.88% 0.07 106.67);
  --hue-lime-950: oklch(18.95% 0.04 106.67);
  --hue-green-50: oklch(98.83% 0.005 123.33);
  --hue-green-100: oklch(96.29% 0.02 123.33);
  --hue-green-200: oklch(91.41% 0.04 123.33);
  --hue-green-300: oklch(84.77% 0.08 123.33);
  --hue-green-400: oklch(78.13% 0.11 123.33);
  --hue-green-500: oklch(71.48% 0.15 123.33);
  --hue-green-600: oklch(60.35% 0.14 123.33);
  --hue-green-700: oklch(51.56% 0.12 123.33);
  --hue-green-800: oklch(40.43% 0.09 123.33);
  --hue-green-900: oklch(29.69% 0.07 123.33);
  --hue-green-950: oklch(18.75% 0.04 123.33);
  --hue-emerald-50: oklch(98.83% 0.005 140);
  --hue-emerald-100: oklch(96.29% 0.02 140);
  --hue-emerald-200: oklch(91.41% 0.04 140);
  --hue-emerald-300: oklch(84.57% 0.08 140);
  --hue-emerald-400: oklch(77.73% 0.11 140);
  --hue-emerald-500: oklch(71.09% 0.15 140);
  --hue-emerald-600: oklch(59.77% 0.14 140);
  --hue-emerald-700: oklch(51.17% 0.12 140);
  --hue-emerald-800: oklch(40.04% 0.09 140);
  --hue-emerald-900: oklch(29.49% 0.07 140);
  --hue-emerald-950: oklch(18.75% 0.04 140);
  --hue-teal-50: oklch(98.83% 0.005 160);
  --hue-teal-100: oklch(96.29% 0.02 160);
  --hue-teal-200: oklch(91.21% 0.04 160);
  --hue-teal-300: oklch(84.38% 0.08 160);
  --hue-teal-400: oklch(77.54% 0.11 160);
  --hue-teal-500: oklch(70.51% 0.15 160);
  --hue-teal-600: oklch(59.38% 0.14 160);
  --hue-teal-700: oklch(50.78% 0.12 160);
  --hue-teal-800: oklch(39.84% 0.09 160);
  --hue-teal-900: oklch(29.1% 0.07 160);
  --hue-teal-950: oklch(18.36% 0.04 160);
  --hue-cyan-50: oklch(98.83% 0.005 180);
  --hue-cyan-100: oklch(96.29% 0.02 180);
  --hue-cyan-200: oklch(91.21% 0.04 180);
  --hue-cyan-300: oklch(84.38% 0.08 180);
  --hue-cyan-400: oklch(77.34% 0.11 180);
  --hue-cyan-500: oklch(70.51% 0.15 180);
  --hue-cyan-600: oklch(59.18% 0.14 180);
  --hue-cyan-700: oklch(50.59% 0.12 180);
  --hue-cyan-800: oklch(39.65% 0.09 180);
  --hue-cyan-900: oklch(28.91% 0.07 180);
  --hue-cyan-950: oklch(18.16% 0.04 180);
  --hue-lightBlue-50: oklch(98.83% 0.005 210);
  --hue-lightBlue-100: oklch(96.29% 0.02 210);
  --hue-lightBlue-200: oklch(91.41% 0.04 210);
  --hue-lightBlue-300: oklch(84.57% 0.08 210);
  --hue-lightBlue-400: oklch(77.73% 0.11 210);
  --hue-lightBlue-500: oklch(70.9% 0.15 210);
  --hue-lightBlue-600: oklch(59.57% 0.14 210);
  --hue-lightBlue-700: oklch(50.78% 0.12 210);
  --hue-lightBlue-800: oklch(39.84% 0.09 210);
  --hue-lightBlue-900: oklch(29.1% 0.07 210);
  --hue-lightBlue-950: oklch(18.16% 0.04 210);
  --hue-blue-50: oklch(98.83% 0.005 240);
  --hue-blue-100: oklch(96.48% 0.02 240);
  --hue-blue-200: oklch(91.6% 0.04 240);
  --hue-blue-300: oklch(84.96% 0.08 240);
  --hue-blue-400: oklch(78.32% 0.11 240);
  --hue-blue-500: oklch(71.88% 0.15 240);
  --hue-blue-600: oklch(60.55% 0.14 240);
  --hue-blue-700: oklch(51.76% 0.12 240);
  --hue-blue-800: oklch(40.63% 0.09 240);
  --hue-blue-900: oklch(29.69% 0.07 240);
  --hue-blue-950: oklch(18.75% 0.04 240);
  --hue-indigo-50: oklch(98.83% 0.005 260);
  --hue-indigo-100: oklch(96.48% 0.02 260);
  --hue-indigo-200: oklch(91.8% 0.04 260);
  --hue-indigo-300: oklch(85.35% 0.08 260);
  --hue-indigo-400: oklch(78.91% 0.11 260);
  --hue-indigo-500: oklch(72.66% 0.15 260);
  --hue-indigo-600: oklch(61.33% 0.14 260);
  --hue-indigo-700: oklch(52.34% 0.12 260);
  --hue-indigo-800: oklch(41.21% 0.09 260);
  --hue-indigo-900: oklch(30.08% 0.07 260);
  --hue-indigo-950: oklch(19.14% 0.04 260);
  --hue-violet-50: oklch(98.83% 0.005 280);
  --hue-violet-100: oklch(96.48% 0.02 280);
  --hue-violet-200: oklch(91.99% 0.04 280);
  --hue-violet-300: oklch(85.74% 0.08 280);
  --hue-violet-400: oklch(79.49% 0.11 280);
  --hue-violet-500: oklch(73.44% 0.15 280);
  --hue-violet-600: oklch(61.91% 0.14 280);
  --hue-violet-700: oklch(52.93% 0.12 280);
  --hue-violet-800: oklch(41.6% 0.09 280);
  --hue-violet-900: oklch(30.47% 0.07 280);
  --hue-violet-950: oklch(19.34% 0.04 280);
  --hue-purple-50: oklch(98.83% 0.005 300);
  --hue-purple-100: oklch(96.68% 0.02 300);
  --hue-purple-200: oklch(92.19% 0.04 300);
  --hue-purple-300: oklch(85.94% 0.08 300);
  --hue-purple-400: oklch(79.88% 0.11 300);
  --hue-purple-500: oklch(73.83% 0.15 300);
  --hue-purple-600: oklch(62.5% 0.14 300);
  --hue-purple-700: oklch(53.32% 0.12 300);
  --hue-purple-800: oklch(41.8% 0.09 300);
  --hue-purple-900: oklch(30.66% 0.07 300);
  --hue-purple-950: oklch(19.53% 0.04 300);
  --hue-fuschia-50: oklch(98.83% 0.005 320);
  --hue-fuschia-100: oklch(96.68% 0.02 320);
  --hue-fuschia-200: oklch(92.19% 0.04 320);
  --hue-fuschia-300: oklch(86.13% 0.08 320);
  --hue-fuschia-400: oklch(80.08% 0.11 320);
  --hue-fuschia-500: oklch(74.22% 0.15 320);
  --hue-fuschia-600: oklch(62.7% 0.14 320);
  --hue-fuschia-700: oklch(53.52% 0.12 320);
  --hue-fuschia-800: oklch(41.99% 0.09 320);
  --hue-fuschia-900: oklch(30.86% 0.07 320);
  --hue-fuschia-950: oklch(19.53% 0.04 320);
  --hue-pink-50: oklch(98.83% 0.005 340);
  --hue-pink-100: oklch(96.68% 0.02 340);
  --hue-pink-200: oklch(92.38% 0.04 340);
  --hue-pink-300: oklch(86.33% 0.08 340);
  --hue-pink-400: oklch(80.27% 0.11 340);
  --hue-pink-500: oklch(74.41% 0.15 340);
  --hue-pink-600: oklch(62.89% 0.14 340);
  --hue-pink-700: oklch(53.71% 0.12 340);
  --hue-pink-800: oklch(41.99% 0.09 340);
  --hue-pink-900: oklch(30.86% 0.07 340);
  --hue-pink-950: oklch(19.53% 0.04 340);
  --hue-rose-50: oklch(98.83% 0.005 0);
  --hue-rose-100: oklch(96.68% 0.02 0);
  --hue-rose-200: oklch(92.38% 0.04 0);
  --hue-rose-300: oklch(86.33% 0.08 0);
  --hue-rose-400: oklch(80.27% 0.11 0);
  --hue-rose-500: oklch(74.41% 0.15 0);
  --hue-rose-600: oklch(62.7% 0.14 0);
  --hue-rose-700: oklch(53.52% 0.12 0);
  --hue-rose-800: oklch(41.99% 0.09 0);
  --hue-rose-900: oklch(30.66% 0.07 0);
  --hue-rose-950: oklch(19.34% 0.04 0);
  --hue-slate-50: oklch(98.83% 0.005 275);
  --hue-slate-100: oklch(96.48% 0.02 275);
  --hue-slate-200: oklch(91.8% 0.02 275);
  --hue-slate-300: oklch(85.35% 0.02 275);
  --hue-slate-400: oklch(78.91% 0.02 275);
  --hue-slate-500: oklch(72.66% 0.02 275);
  --hue-slate-600: oklch(61.33% 0.02 275);
  --hue-slate-700: oklch(52.34% 0.02 275);
  --hue-slate-800: oklch(41.21% 0.02 275);
  --hue-slate-900: oklch(30.27% 0.02 275);
  --hue-slate-950: oklch(19.34% 0.02 275);
  --hue-gray-50: oklch(98.83% 0.005 275);
  --hue-gray-100: oklch(96.48% 0.02 275);
  --hue-gray-200: oklch(91.8% 0.02 275);
  --hue-gray-300: oklch(85.35% 0.02 275);
  --hue-gray-400: oklch(78.91% 0.02 275);
  --hue-gray-500: oklch(72.66% 0.02 275);
  --hue-gray-600: oklch(61.33% 0.02 275);
  --hue-gray-700: oklch(52.34% 0.02 275);
  --hue-gray-800: oklch(41.21% 0.02 275);
  --hue-gray-900: oklch(30.27% 0.02 275);
  --hue-gray-950: oklch(19.34% 0.02 275);
  --hue-zinc-50: oklch(98.83% 0.005 275);
  --hue-zinc-100: oklch(96.48% 0.01 275);
  --hue-zinc-200: oklch(91.8% 0.01 275);
  --hue-zinc-300: oklch(85.35% 0.01 275);
  --hue-zinc-400: oklch(78.91% 0.01 275);
  --hue-zinc-500: oklch(72.66% 0.01 275);
  --hue-zinc-600: oklch(61.33% 0.01 275);
  --hue-zinc-700: oklch(52.34% 0.01 275);
  --hue-zinc-800: oklch(41.21% 0.01 275);
  --hue-zinc-900: oklch(30.27% 0.01 275);
  --hue-zinc-950: oklch(19.34% 0.01 275);
  --hue-neutral-50: oklch(98.83% 0.005 0);
  --hue-neutral-100: oklch(96.48% 0 0);
  --hue-neutral-200: oklch(91.8% 0 0);
  --hue-neutral-300: oklch(85.35% 0 0);
  --hue-neutral-400: oklch(78.91% 0 0);
  --hue-neutral-500: oklch(72.66% 0 0);
  --hue-neutral-600: oklch(61.13% 0 0);
  --hue-neutral-700: oklch(52.34% 0 0);
  --hue-neutral-800: oklch(41.21% 0 0);
  --hue-neutral-900: oklch(30.08% 0 0);
  --hue-neutral-950: oklch(19.34% 0 0);
  --hue-stone-50: oklch(98.83% 0.008 75);
  --hue-stone-100: oklch(96.48% 0.01 75);
  --hue-stone-200: oklch(91.8% 0.01 75);
  --hue-stone-300: oklch(85.35% 0.01 75);
  --hue-stone-400: oklch(78.91% 0.01 75);
  --hue-stone-500: oklch(72.66% 0.01 75);
  --hue-stone-600: oklch(61.33% 0.01 75);
  --hue-stone-700: oklch(52.34% 0.01 75);
  --hue-stone-800: oklch(41.21% 0.01 75);
  --hue-stone-900: oklch(30.27% 0.01 75);
  --hue-stone-950: oklch(19.34% 0.01 75);
  --hue-sand-50: oklch(98.83% 0.008 75);
  --hue-sand-100: oklch(96.48% 0.01 75);
  --hue-sand-200: oklch(91.8% 0.01 75);
  --hue-sand-300: oklch(85.35% 0.01 75);
  --hue-sand-400: oklch(78.91% 0.01 75);
  --hue-sand-500: oklch(72.66% 0.01 75);
  --hue-sand-600: oklch(61.33% 0.01 75);
  --hue-sand-700: oklch(52.34% 0.01 75);
  --hue-sand-800: oklch(41.21% 0.01 75);
  --hue-sand-900: oklch(30.27% 0.01 75);
  --hue-sand-950: oklch(30.27% 0.01 75);
  --hue-olive-50: oklch(98.83% 0.008 120);
  --hue-olive-100: oklch(96.48% 0.01 120);
  --hue-olive-200: oklch(91.8% 0.01 120);
  --hue-olive-300: oklch(85.16% 0.01 120);
  --hue-olive-400: oklch(78.91% 0.01 120);
  --hue-olive-500: oklch(72.46% 0.01 120);
  --hue-olive-600: oklch(61.13% 0.01 120);
  --hue-olive-700: oklch(52.34% 0.01 120);
  --hue-olive-800: oklch(41.02% 0.01 120);
  --hue-olive-900: oklch(30.08% 0.01 120);
  --hue-olive-950: oklch(19.14% 0.01 120);
  --hue-mauve-50: oklch(98.83% 0.008 325);
  --hue-mauve-100: oklch(96.68% 0.01 325);
  --hue-mauve-200: oklch(91.8% 0.01 325);
  --hue-mauve-300: oklch(85.35% 0.01 325);
  --hue-mauve-400: oklch(78.91% 0.01 325);
  --hue-mauve-500: oklch(72.66% 0.01 325);
  --hue-mauve-600: oklch(61.33% 0.01 325);
  --hue-mauve-700: oklch(52.34% 0.01 325);
  --hue-mauve-800: oklch(41.21% 0.01 325);
  --hue-mauve-900: oklch(30.27% 0.01 325);
  --hue-mauve-950: oklch(19.34% 0.01 325);
}
