.card {
  --card-bg: var(--hue-neutral-100);
  --card-fg: var(--hue-neutral-800);
  --card-accent: var(--hue-neutral-600);
  --card-bg-alt: var(--hue-neutral-200);
  --card-fg-alt: var(--hue-neutral-800);
  --card-bg-btn: var(--hue-neutral-700);
  --card-fg-btn: var(--hue-neutral-100);

  align-self: start;
  background-color: var(--card-bg);
  background-image: linear-gradient(var(--card-bg-alt), var(--card-bg));
  color: var(--card-fg);
  border-radius: var(--radii-default);
  padding: var(--space-s) 0 0 0;
  line-height: 1;
  grid-column: span var(--grid-columns);

  @media (min-width: 600) {
    & {
      grid-column: span 3;
    }
  }

  @media (min-width: 600px) {
    & {
      grid-column: span 3;
    }
  }

  @media (prefers-color-scheme: dark) {
    & {
      --card-bg: var(--hue-neutral-700);
      --card-fg: var(--hue-neutral-100);
      --card-accent: var(--hue-neutral-300);
      --card-bg-alt: var(--hue-neutral-800);
      --card-fg-alt: var(--hue-neutral-200);
      --card-bg-btn: var(--hue-neutral-100);
      --card-fg-btn: var(--hue-neutral-700);
    }
  }
}

.cardClearSky {
  --card-bg: var(--hue-lightBlue-100);
  --card-fg: var(--hue-lightBlue-800);
  --card-accent: var(--hue-lightBlue-600);
  --card-bg-alt: var(--hue-lightBlue-200);
  --card-fg-alt: var(--hue-lightBlue-800);
  --card-bg-btn: var(--hue-lightBlue-700);
  --card-fg-btn: var(--hue-lightBlue-100);

  @media (prefers-color-scheme: dark) {
    & {
      --card-bg: var(--hue-lightBlue-700);
      --card-fg: var(--hue-lightBlue-100);
      --card-accent: var(--hue-lightBlue-300);
      --card-bg-alt: var(--hue-lightBlue-800);
      --card-fg-alt: var(--hue-lightBlue-200);
      --card-bg-btn: var(--hue-lightBlue-100);
      --card-fg-btn: var(--hue-lightBlue-700);
    }
  }
}

.cardCloudy {
  --card-bg: var(--hue-blue-100);
  --card-fg: var(--hue-blue-800);
  --card-accent: var(--hue-blue-600);
  --card-bg-alt: var(--hue-blue-200);
  --card-fg-alt: var(--hue-blue-800);
  --card-bg-btn: var(--hue-blue-700);
  --card-fg-btn: var(--hue-blue-100);

  @media (prefers-color-scheme: dark) {
    & {
      --card-bg: var(--hue-blue-700);
      --card-fg: var(--hue-blue-100);
      --card-accent: var(--hue-blue-300);
      --card-bg-alt: var(--hue-blue-800);
      --card-fg-alt: var(--hue-blue-200);
      --card-bg-btn: var(--hue-blue-100);
      --card-fg-btn: var(--hue-blue-700);
    }
  }
}

.cardRain {
  --card-bg: var(--hue-purple-100);
  --card-fg: var(--hue-purple-800);
  --card-accent: var(--hue-purple-600);
  --card-bg-alt: var(--hue-purple-200);
  --card-fg-alt: var(--hue-purple-800);
  --card-bg-btn: var(--hue-purple-700);
  --card-fg-btn: var(--hue-purple-100);

  @media (prefers-color-scheme: dark) {
    & {
      --card-bg: var(--hue-purple-700);
      --card-fg: var(--hue-purple-100);
      --card-accent: var(--hue-purple-300);
      --card-bg-alt: var(--hue-purple-800);
      --card-fg-alt: var(--hue-purple-200);
      --card-bg-btn: var(--hue-purple-100);
      --card-fg-btn: var(--hue-purple-700);
    }
  }
}

.cardSnow {
  --card-bg: var(--hue-zinc-100);
  --card-fg: var(--hue-zinc-800);
  --card-accent: var(--hue-zinc-600);
  --card-bg-alt: var(--hue-zinc-200);
  --card-fg-alt: var(--hue-zinc-800);
  --card-bg-btn: var(--hue-zinc-700);
  --card-fg-btn: var(--hue-zinc-100);

  @media (prefers-color-scheme: dark) {
    & {
      --card-bg: var(--hue-zinc-700);
      --card-fg: var(--hue-zinc-100);
      --card-accent: var(--hue-zinc-300);
      --card-bg-alt: var(--hue-zinc-800);
      --card-fg-alt: var(--hue-zinc-200);
      --card-bg-btn: var(--hue-zinc-100);
      --card-fg-btn: var(--hue-zinc-700);
    }
  }
}

.cardThunderstorm {
  --card-bg: var(--hue-fuschia-100);
  --card-fg: var(--hue-fuschia-800);
  --card-accent: var(--hue-fuschia-600);
  --card-bg-alt: var(--hue-fuschia-200);
  --card-fg-alt: var(--hue-fuschia-800);
  --card-bg-btn: var(--hue-fuschia-700);
  --card-fg-btn: var(--hue-fuschia-100);

  @media (prefers-color-scheme: dark) {
    & {
      --card-bg: var(--hue-fuschia-700);
      --card-fg: var(--hue-fuschia-100);
      --card-accent: var(--hue-fuschia-300);
      --card-bg-alt: var(--hue-fuschia-800);
      --card-fg-alt: var(--hue-fuschia-200);
      --card-bg-btn: var(--hue-fuschia-100);
      --card-fg-btn: var(--hue-fuschia-700);
    }
  }
}

.cardIsExpanded {
  grid-column: 1 / span 12;
  margin-bottom: var(--space-l);
}

.cardTitle {
  font-size: var(--step-0);
  text-align: center;
}

.cardLocation {
  font-size: var(--step--1);
  opacity: 0.5;
  margin: var(--space-2xs) 0 0;
  text-align: center;
  padding: 0 var(--space-2xs);
  line-height: 1.4;
}

.cardIconWrapper {
  text-align: center;
  padding: var(--space-s) 0 0 0;
}

.icon {
  display: inline-flex;
  align-items: center;
  color: var(--card-accent);
}

.icon svg {
  height: 128px;
  width: 128px;
}

.cardTempCurrent,
.cardHighValue,
.cardLowValue {
  position: relative;

  &:after {
    position: absolute;
    content: "º";
  }
}

.cardTempCurrent {
  font-size: var(--step-6);
  color: var(--card-accent);
  text-align: center;
  margin: 0 0 var(--space-3xs);
  padding: 0;
}

.cardCondition {
  font-size: var(--step--1);
  text-align: center;
  line-height: 1.4;
  max-width: 80%;
  margin: 0 auto var(--space-m);
}

.cardFoot {
  background-color: var(--card-bg-alt);
  color: var(--card-fg-alt);
  border-radius: 0 0 var(--radii-default) var(--radii-default);
  padding: 4px;
}

.cardHighLow {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: var(--space-s) 0;
}

.cardHighValue,
.cardLowValue {
  font-size: var(--step-3);
}

.cardHighlabel,
.cardLowlabel {
  font-size: var(--step--3);
  text-transform: uppercase;
}

.cardBtnGroup {
  position: absolute;
  left: 50%;
  display: inline-flex;
  transform: translate(-50%, -50%);
}

.cardExpandToggle,
.removeCardBtn {
  border-radius: 6px;
  padding: var(--space-3xs);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:hover,
  &:focus {
    cursor: pointer;
  }

  &:focus {
    outline: 1px solid var(--hue-neutral-950);
    outline-offset: var(--space-3xs);
  }

  @media (prefers-color-scheme: dark) {
    &:focus {
      outline-color: var(--hue-neutral-50);
    }
  }
}

.cardExpandToggle {
  background-color: var(--card-bg-btn);
  color: var(--card-fg-btn);
  width: 100%;
  padding: var(--space-s-3xs);

  .cardExpandToggleRightArrow {
    transition: transform 100ms ease-in-out;
    transform: translateX(0);
  }

  &:hover,
  &:focus {
    .cardExpandToggleRightArrow {
      transform: translateX(3px);
    }
  }
}

.cardIsExpanded .cardFoot {
  padding: 0;
  position: relative;
}

.cardIsExpanded .cardExpandToggle {
  width: fit-content;
  margin: 0 var(--space-2xs) 0 0;
  padding: var(--space-xs);
  border-radius: var(--radii-pill);
  bottom: calc(var(--space-l) * -1);
}

.removeCardBtn {
  background-color: var(--hue-red-700);
  border-radius: var(--radii-circle);
  aspect-ratio: 1 / 1;
  color: var(--hue-red-100);
  padding: var(--space-xs);
}

.hourlyForecast {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  flex-direction: row;
  margin: 0;
  /* border-top: 1px solid var(--card-bg-alt); */
  max-width: 100%;
  overflow-x: auto;
}

.hourlyForecastItem {
  min-height: 100px;
  font-size: var(--step--1);
  text-align: center;
  padding: var(--space-3xs) var(--space-3xs) var(--space-m);
  &:nth-of-type(even) {
    background-color: var(--card-bg);
  }

  &:first-of-type {
    border-radius: 0 0 0 var(--radii-default);
  }

  &:last-of-type {
    border-radius: 0 0 var(--radii-default) 0;
  }
}

.hourlyForecastTime,
.hourlyForecastTemp {
  font-size: var(--step--3);
}

.hourlyForecastIcon {
  display: inline-flex;
  align-items: center;
  color: var(--card-accent);
  margin-top: var(--space-2xs);

  & svg {
    height: 32px;
    width: 32px;
  }
}

.hourlyForecastTemp {
  margin-bottom: var(--space-2xs);
  position: relative;

  &:after {
    content: "º";
  }
}
