body {
  background-color: var(--hue-slate-50);
  color: var(--hue-slate-950);

  @media (prefers-color-scheme: dark) {
    & {
      background-color: var(--hue-slate-950);
      color: var(--hue-slate-50);
    }
  }
}

.rootHeading {
  display: flex;
  align-items: center;
}

.rootHeadingTitle {
  font-size: var(--step-6);
  font-weight: 200;
}
